.cover__subtitle {
    z-index: 2;
    font-family: 'inter', Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    width: 360px;
    text-align: center;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .cover__subtitle {
        width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
}