.intro__list-item {
    color: #fff;
    font-family: 'inter',Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    display: flex;
    align-items: baseline;
    list-style: none;
}