.place__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: fit-content;
}

@media (max-width: 767px) {
    .place__website {
        padding: 0 16px;

    }
}